/* main container */
.grid-container {
  display: grid;
  transition: 300ms;
  height: 100%;
  padding: 0px;
  margin: 0px;
  gap: 0px;
  grid-template-rows: auto 1fr;
  grid-template-columns: min-content minmax(0, 1fr);
}

/* drawer menu pane*/
.nav-root {
  --nav-mini-width: 5rem;
  --nav-full-width: 14.75rem;
  height: 100vh;
  overflow-x: hidden;
}

.navbar {
  height: 100vh;
  display: grid;
  overflow-x: hidden;
  grid-template-rows: auto minmax(0, 1fr) auto;
  @apply transition-all;
  --nav-cur-width-padded: calc(var(--nav-cur-width) - 1.5rem);
  --nav-cur-width-2padded: calc(var(--nav-cur-width) - 3rem);
  z-index: 200;
  overflow-x: hidden;
  width: var(--nav-cur-width);
}

.bg-nav {
  background: #2f2f2f;
  overflow-x: hidden;
  @apply col-start-1 row-start-1 row-span-3 border-r-2 border-r-gray-50;
}

.nav-root {
  --nav-cur-width: var(--nav-full-width);
  width: var(--nav-full-width);
}

.mini.nav-root {
  width: var(--nav-mini-width);
}

.mini-real .navbar {
  --nav-cur-width: var(--nav-mini-width);
}

.nav-anim {
  @apply transition-all;
  width: var(--nav-cur-width);
  transition-property: width;
}

.nav-root:not(.mini-real) .navbar .navbar-item {
  @apply px-8;
}

.navbar .navbar-item:hover::before {
  @apply transition-all;
  transform-property: min-width;
  min-width: var(--nav-cur-width-padded);
}

.mini-real .mini-hide {
  opacity: 0;
}

.temporary .nav-root {
  @apply w-0;
}
.temporary .navbar {
  @apply transform transition-transform pointer-events-none;
}

.temporary .navbar .activeDrawer {
  @apply translate-x-0 pointer-events-auto;
}

.nav-open {
  @apply w-6 h-10;
}

.nav-close {
  @apply w-6 h-10 hidden;
}

.mini .nav-open {
  display: none;
}

.mini .nav-close {
  display: block;
}

.mini-real .nav-close,
.mini-real .nav-open {
  display: none;
}

.nav-root.temporary.activeDrawer .overlay {
  @apply absolute inset-0 bg-black bg-opacity-30 z-10 block;
}

.fade_enter_active,
.fade_leave_active {
  transition: all 0.4s cubic-bezier(0.55, 0, 0.1, 1);
}

.fade_enter {
  opacity: 0;
  transform: translateY(30px);
}

.fade_leave_active {
  opacity: 0;
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
}

.navbar-item {
  @apply p-4 rounded relative !important;
}

.navbar-item-active {
  background: theme(colors.slate.700);
}

.data-table-container {
  @apply shadow-md rounded-md bg-white;
  position: relative;
  overflow: hidden;
}

.data-table-row {
  @apply grid relative items-center text-left flex-auto gap-0 w-full !important;
}

.data-table-cell {
  overflow: hidden;
  @apply px-2 py-4 !important;
}

.data-table-header {
  @apply text-xs text-gray-700 bg-white !important;
}

.data-table-item-index {
  @apply w-3 flex items-center justify-center text-xs text-center flex-grow-0;
}

.center {
  @apply flex justify-center items-center;
}

dialog {
  border: none !important;
  overflow: hidden !important;
  border-radius: theme(borderRadius.2xl);
  width: auto;
  @apply backdrop:bg-gray-700 backdrop:bg-opacity-20  shadow-md !important;
}

dialog.edit-dialog,
.edit-dialog {
  height: calc(100% - 140px) !important;
  max-height: initial !important;
  margin-left: 100px;
  margin-right: 100px;
  overflow: hidden !important;
  @apply rounded-2xl transition-all;
}

.edit-content {
  display: grid;
  gap: theme(spacing.2);
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  padding: theme(spacing.8) theme(spacing.8) theme(spacing.14) theme(spacing.8);
}

@media (max-width: theme(screens.md)) {
  .edit-content {
    grid-template-columns: auto;
  }
  dialog.edit-dialog,
  .edit-dialog {
    margin-left: 0px;
    margin-right: 0px;
  }
}

label {
  @apply text-sm text-gray-600 flex items-center;
}

input,
textarea {
  @apply text-sm w-full rounded px-4 py-2;
  border: unset;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  outline-color: theme(colors.blue.500);
  min-height: 32px;
}

input:invalid,
input:user-invalid,
textarea:invalid,
textarea:user-invalid {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    theme(colors.red.500) 0px 0px 0px 2px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.scrollable {
  -webkit-overflow-scrolling: touch;
  scrollbar-color: #828282 transparent;
  scrollbar-width: thin;
  overscroll-behavior: contain;
}

.out-range {
  opacity: 0 !important;
  pointer-events: none !important;
  cursor: default !important;
}

.page-control .active {
  background: theme(colors.blue.500);
  color: white;
}

.page-control button {
  @apply mx-1 rounded-full size-10;
}
